@import 'tailwindcss';
@import 'fumadocs-ui/css/solar.css';
@import 'fumadocs-ui/css/preset.css';

::selection {
    background-color: oklch(0.7 0.2 0 / 0.3);
    color: inherit;
}

::-moz-selection {
    background-color: oklch(0.7 0.2 0 / 0.3);
    color: inherit;
}

/* Dark mode color overrides */
.dark {
    --color-fd-primary: oklch(69.827% 0.20218 6.633);

}

.light {
    --color-fd-primary: oklch(42.074% 0.14723 12.776);

}

/* Fumadocs sidebar tabs selected state fix */
[data-slot="sidebar"] [data-selected],
[data-slot="sidebar"] [data-active="true"],
[data-slot="sidebar"] [aria-selected="true"] {
    display: flex !important;
    align-items: center !important;
    gap: 0.5rem;
}